/*------------------------------------
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* 
* @modification linsword20@gmail.com
* @update 2012-11-29
* --------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body{
	font-size:14px;
	word-spacing:1px;
	margin-left:auto;
	margin-right:auto;
	height: auto;
	min-height: 100%;
	font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
	color:#000000;
	background-color:#F5F5F5;
}
*{padding:0;margin: 0;border:none;outline:none;}

/***链接*/
a{color:#dd0000;text-decoration:none;}
a:hover{color:#333333;text-decoration:underline;}

hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p{padding:.5em 0;}
li{padding:.2em 0;}
ol,ul{list-style:none;list-style-position: outside;}
ol ul, ul ol, ul ul, ol ol {margin-left:0em;}
code {background:#eee;border:1px solid #ccc;padding:2 5px;font-family:"Courier";line-height:15px;font-size:14px;}
pre{
    line-height:15px;
    background-color:#000;
    padding:5px;
    overflow:auto;
    margin-bottom:20px;
    font-size:14px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color:#b9bdb6
}

pre code{background-color:transparent;border:none;}
pre ol{margin-left:27px;list-style-type:decimal;}

blockquote{display:block;text-align:justify;border-left:4px solid #eeeeee;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}


#container{width:790px;height: auto;min-height:100%;margin:2em auto;display:block;padding:0 2em;position: relative;}
.content{font-size:16px;line-height:24px;}
.content h1{padding:.5em 0;}
.content img{
    max-width:700px;
    display:block;
    margin:4px auto;
    -webkit-box-shadow:3px 3px 6px #333;
    -moz-box-shadow:2px 2px 4px #333;
    box-shadow:3px 3px 6px #333;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{
	padding:.2em 1em;
}

.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}
.meta{text-align:right;font-size:12px;}
header{padding:.5em 0;}
nav{font-family:"Electrolize",sans-serif;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-14em;width:12em;text-align:right;
position:relative;
}
nav a{display:block;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}
.post{
    padding:2.0em 3em 1.2em 3em;
    background-color:#FdFdFd;
	-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    border-radius:4px 4px 4px 4px;
}

.item{padding:0.9em 0;}
h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.8em;color:#000;line-height: 150%;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;line-height: 200%;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;line-height: 150%;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;}
embed,object,iframe{display:block;margin:4px auto;}
.gist{font-size: 12px;line-height:1.6;}


/********前页后页导航************/
.paginator {
font: 14px Arial,Helvetica,sans-serif;
color: #AAA;
margin: 20px 0;
line-height: 150%;
display: block;
}

.paginator a,.paginator span{
padding: 0 4px;
margin: 2px;
text-decoration: none;
}

.paginator .current-page {
color: white;
background: #ff0000;
}

.paginator a:hover{
color: white;
background: #83BF73;
}

/**************目录导航**************/
#menuIndex {
	position:fixed;top:80px;right:20px;width:200px;overflow:auto;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	opacity: .3;
}
#menuIndex:hover {
	background-color:#FdFdFd;
	/* 设置阴影 */
	-webkit-box-shadow:1px 1px 3px #292929;
	-moz-box-shadow:1px 1px 3px #292929;
	box-shadow:1px 1px 3px #292929;
	opacity: 1;
}
#menuIndex a {display:block;color:#000}
#menuIndex a:hover {text-decoration:none;color:#FF0000}

#menuIndex ul li{font-size:13px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on a{font-weight:bold;color:#CD853F;}
#menuIndex ul li.on a:hover{text-decoration:none;color:#FF0000}
#menuIndex li.h1{font-size:15px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

/*鼠标滑过弹出信息*/
#toolTip{
	padding:4px;	
	background-color: #fff;
	display:none;
	position:absolute;
	-webkit-box-shadow:3px 3px 3px #333;
    -moz-box-shadow:3px 3px 3px #333;
    box-shadow:3px 3px 3px #333;
}


/****页脚footer
footer{
display:block;
position: relative;
margin-top: -30px; /* footer高度的负值 
height: 30px;
clear:both;
background-color:#222;
}
footer p {
text-align: center;
}
footer small {
font-size: 13px;
color: #999;
}
footer a {
margin: 1px;
border: 1px solid rgba(1,1,1,0);
color: #B9221F;
text-decoration: none;
}
footer a:hover {
	color:	#fff;
    -webkit-border-radius: 4px;-moz-box-shadow: 4px;box-shadow: 4px;
    border: 1px solid rgba(0,0,0,0.45);
    text-shadow: rgba(1,1,1,0.6) 0px -1px 0px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(110,110,110,1.0)), to(rgba(100,100,100,1.0)));
	-webkit-box-shadow: rgba(0,0,0,1.0) 0px 0px 2px,rgba(255,255,255,0.15) 0px 1px 1px inset;
    -moz-box-shadow: rgba(0,0,0,1.0) 0px 0px 2px,rgba(255,255,255,0.15) 0px 1px 1px inset;
    box-shadow:rgba(0,0,0,1.0) 0px 0px 2px,rgba(255,255,255,0.15) 0px 1px 1px inset;
	text-decoration: none;
}

.label {
	font-size:11.25px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase;
	background-color:#999;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:1px 3px 2px;
}
.label-info {
background-color:#3a87ad;
}
****/
