<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh" xml:lang="zh">
<head>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="{{ site.author }}" />
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon" />
	<link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
	<link rel="stylesheet" href="/media/css/style.css">
	<link href="/media/js/prettify/prettify.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.mousehover.js"></script>
	<script type="text/javascript">
		var BYB = {};
	</script>
</head>

<body>
	<div id="container">
		<div id="main" role="main">
			<header>
				<h1>{{ page.title }}</h1>
			</header>
			<nav>
				<span><a title="home page" class="" href="/">Home</a></span>
                <span><a title="about" class="" href="/about/">About</a></span>
                <span><a title="categories" class="" href="/categories/">Categories</a></span>
                <span><a title="tags" class="" href="/tags/">Tags</a></span>
                <span><a title="subscribe by RSS" class="" href="/feed/">Subscribe</a></span>
			</nav>
			<article class="content">{{ content }}</article>
		</div>

		

	</div>
    
	<script type="text/javascript">
		BYB.includeScript = function(file, callback) {
			var _doc = document.getElementsByTagName('head')[0];
			var js = document.createElement('script');
			js.setAttribute('type', 'text/javascript');
			js.setAttribute('src', file);
			_doc.appendChild(js);
			if (!/*@cc_on!@*/0){ //if not IE, Firefox2bFirefox3bSafari3.1+bOpera9.6+ support js.onload
				js.onload = function() { callback();}
			} 
			else {//IE6bIE7 support js.onreadystatechange
				js.onreadystatechange = function() {
				if (js.readyState == 'loaded'|| js.readyState == 'complete') { callback();}
				}
			}
			return false;
		}
	</script>
	
	<script type="text/javascript">
		$(function(){
			//非本站链接增加_blank
			$(' a').each(function(index,element)
			{
				var href = $(this).attr('href');
				if(href)
				{
					if(href.indexOf('#') == 0){}
					else if ( href.indexOf('/') == 0 || href.toLowerCase().indexOf('linsword20.info')>-1 ){}
					else if ($(element).has('img').length){}
					else
					{
						$(this).attr('target','_blank');
						$(this).addClass('external');
					}
				}
			   
		});
			
			});
	</script>

</body>
</html>